*.iml
*.ps1
.gradle
/local.properties
/bintray.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild

\.idea/codeStyles/Project\.xml

\.idea/gradle\.xml

\.idea/misc\.xml

\.idea/runConfigurations\.xml

\.idea/vcs\.xml
